<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment :: head}"/>
<body>
    <main class="min-vh-100">
        
        <div class="container">
            <div class="row">
            <nav th:insert="~{fragment :: navbar}"/>
            <div th:insert="~{fragment :: successMessage}"/>
            <div th:insert="~{fragment :: errorMessage}"/>
            <div class="col-12">
                <span class="h1">Modifica l'articolo</span>
                <h2 th:text="${article.title}">Titolo</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <form th:action="@{/article/update/{id}(id=${article.id})}" method="post" th:object="${article}" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col mb-3">
                            <label for="articleTitle" class="form-label">Titolo</label>
                            <input id="articleTitle" type="text" class="form-control" th:field="*{title}" placeholder="Inserisci il titolo">
                            <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                        </div>
                        <div class="col">
                            <label for="articleSubtitle" class="form-label">Sottotitolo</label>
                            <input id="articleSubtitle" type="text" class="form-control" th:field="*{subtitle}"
                                placeholder="Inserisci il sottotitolo">
                            <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}">
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Articolo:</label>
                            <textarea id="body" type="text" class="form-control" th:field="*{body}" rows="6">Inserisci un testo...</textarea>
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>

                        <div class="col mb-3">
                            <label for="date" class="form-label">Data di pubblicazione</label>
                            <input id="date" type="date" class="form-control" th:field="*{publishDate}" placeholder="yyyMMdd" >
                            <p th:errors="*{publishDate}" class="text-danger"
                                th:if="${#fields.hasErrors('publishDate')}"></p>
                        </div>
                        <div class="col mb-3">
                            <label for="category" class="form-label">Categoria:</label>
                            <select id="category" th:field="*{category}" class="form-select">
                                <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                <p th:errors="*{category}" class="text-danger"
                                    th:if="${#fields.hasErrors('category')}"></p>
                            </select>
                        </div>
                        <div class="mb-3" th:if="${article.image != null}">
                            <label for="image" class="form-label">Immagine</label>
                           <img th:src="${article.image.path}" id="image" alt="${article.image.path}" class="mb-3">
                           <label for="image" class="form-label">Modifica l'immagine:</label>
                            <input type="file" name="file" id="image" class="form-control">
                        </div>
                        <div class="mb-3" th:unless="${article.image != null}">
                            <label for="image" class="form-label">Immagine non presente. Aggiungi un'immagine:</label>
                            <input type="file" name="file" id="image" class="form-control">
                        </div>

                        <div class="col text-center ">
                            <button type="submit" class="btn btn-success ">Modifica Articolo</button>
                        </div>
                    </div>

                </form>




            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragment :: footer}"/>
<script th:replace="~{fragment :: bootstrapJS}"/>
</body>
</html>