<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragment :: head}"></head>

<body>
  <main>
    <navbar th:insert="~{fragment :: navbar}"></navbar>

    <div class="container">
      <div class="row justify-content-center my-5">
        <div class="col-10">
          <div th:if="${param.notAuthorized}">
            <div class="alert alert-danger">You are not authorized</div>
          </div>
          <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container min-vh-100">
      <div class="row">
        <div class="col-12 col-md-6">
        </div>
      </div>
    </div>
    <footer th:insert="~{fragment :: footer}"></footer>
    <script th:replace="~{fragment :: bootstrapJS}"></script>
  </main>
</body>

</html>